{% extends 'site/partials/base.html.twig' %}

{% block title %}Accueil - Deliveroo_like{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('site/css/home.css') }}">
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">#}
{#    <link rel="stylesheet"#}
{#          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">#}
{% endblock %}

{% block body %}
    <section class="intro-home pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h1 class="mb-5">
                        Vos restaurants préférés, livrés chez vous en un clic
                    </h1>
                    <div class="form-search">
                        <form action="">
                            <div class="form-group row">
                                <label for="inputSearch" class="col-12 col-form-label">
                                    <small>
                                        Entrez votre adresse pour trouver les restaurants à proximité
                                    </small>
                                </label>
                                <div class="col-sm-8 field-search">
                                    <input type="text" class="form-control" id="inputSearch">
                                    <span>
                                        <svg height="24" width="24" viewBox="0 0 24 24">
                                            <path d="M2 11.8214L21 3L12.1786 22L10.1429 13.8571L2 11.8214ZM11.7882 12.2118L12.7455 16.0408L16.8936 7.10644L7.95923 11.2545L11.7882 12.2118Z"></path>
                                        </svg>
                                    </span>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-blue" type="submit">Rechercher</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-6">
    {#                <div class="image-promo"></div>#}
                    <img src="{{ asset('assets/images/brandable-box.jpg') }}" alt="delivery box">
                </div>
            </div>
        </div>
    </section>
{#    services  #}
    <section class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12 mb-3">
                <h1>A la carte</h1>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <a href="#">
                    <div class="background-img affair">
                        <span class="bold-span">Repas d'affaires</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur cupiditate
                        earum eius esse est fuga id ipsum iure, laboriosam magni, minus obcaecati odio officia
                        provident recusandae tempore veniam veritatis.
                    </p>
                    <span class="link">Voir repas d'affaires -></span>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-8">
                <a href="#">
                    <div class="background-img confort">
                        <span class="bold-span">Formule confort</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur cupiditate
                        earum eius esse est fuga id ipsum iure, laboriosam magni, minus obcaecati odio officia
                        provident recusandae tempore veniam veritatis.
                    </p>
                    <span class="link">Voir formule confort -></span>
                </a>
            </div>
        </div>
    </section>
    <section class="container mb-5">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-8">
                <a href="#">
                    <div class="background-img balanced">
                        <span class="bold-span">Cuisine équilibrée</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur cupiditate
                        earum eius esse est fuga id ipsum iure, laboriosam magni, minus obcaecati odio officia
                        provident recusandae tempore veniam veritatis.
                    </p>
                    <span class="link">Voir Cuisine équilibrée -></span>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <a href="#">
                    <div class="background-img small-pleasure">
                        <span class="bold-span">Grands plaisirs, petits prix</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur cupiditate
                        earum eius esse est fuga id ipsum iure, laboriosam magni, minus obcaecati odio officia
                        provident recusandae tempore veniam veritatis.
                    </p>
                    <span class="link">Voir Grands plaisirs, petits prix -></span>
                </a>
            </div>
        </div>
    </section>
    <section class="container mb-5">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <a href="#">
                    <div class="background-img small-pleasure">
                        <span class="bold-span">Desserts et pauses sucrées</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur cupiditate
                        earum eius esse est fuga id ipsum iure, laboriosam magni, minus obcaecati odio officia
                        provident recusandae tempore veniam veritatis.
                    </p>
                    <span class="link">Voir Desserts et pauses sucrées -></span>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-8">
                <a href="#">
                    <div class="background-img balanced">
                        <span class="bold-span">Pépites de quartiers</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur cupiditate
                        earum eius esse est fuga id ipsum iure, laboriosam magni, minus obcaecati odio officia
                        provident recusandae tempore veniam veritatis.
                    </p>
                    <span class="link">Voir Pépites de quartiers -></span>
                </a>
            </div>
        </div>
    </section>
    <section class="container mb-5">
        <div class="row">
            <div class="col-12">
                <a href="#">
                    <div class="background-img balanced">
                        <span class="bold-span">Exclusivement</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur cupiditate
                        earum eius esse est fuga id ipsum iure, laboriosam magni, minus obcaecati odio officia
                        provident recusandae tempore veniam veritatis.
                    </p>
                    <span class="link">Voir Exclusivement -></span>
                </a>
            </div>
        </div>
    </section>
{#    prefered places   #}
    <section class="places pt-5 pb-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Vous les aimez, nous vous les livrons.</h1>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <img class="img-fluid" src="{{ asset('assets/images/accueil/places/jason-leung-poI7DelFiVA-unsplash.jpg') }}" alt="">
                    <h2>Hello shop</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, soluta tempore.
                        Animi atque enim et illum.
                    </p>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <img class="img-fluid" src="{{ asset('assets/images/accueil/places/jason-leung-poI7DelFiVA-unsplash.jpg') }}" alt="">
                    <h2>Hello shop</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, soluta tempore.
                        Animi atque enim et illum.
                    </p>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <img class="img-fluid" src="{{ asset('assets/images/accueil/places/jason-leung-poI7DelFiVA-unsplash.jpg') }}" alt="">
                    <h2>Hello shop</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, soluta tempore.
                        Animi atque enim et illum.
                    </p>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <img class="img-fluid" src="{{ asset('assets/images/accueil/places/jason-leung-poI7DelFiVA-unsplash.jpg') }}" alt="">
                    <h2>Hello shop</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, soluta tempore.
                        Animi atque enim et illum.
                    </p>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <img class="img-fluid" src="{{ asset('assets/images/accueil/places/jason-leung-poI7DelFiVA-unsplash.jpg') }}" alt="">
                    <h2>Hello shop</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, soluta tempore.
                        Animi atque enim et illum.
                    </p>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <img class="img-fluid" src="{{ asset('assets/images/accueil/places/jason-leung-poI7DelFiVA-unsplash.jpg') }}" alt="">
                    <h2>Hello shop</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, soluta tempore.
                        Animi atque enim et illum.
                    </p>
                </div>
            </div>
        </div>
    </section>
{#    categories #}
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h1>Vous voulez plus de choix ?</h1>
{#                add dynamic categories    #}
                <ul class="categories">
                    <li>
                        <a href="#">Halal</a>
                    </li>
                    <li>
                        <a href="#">Petit déjeuner</a>
                    </li>
                    <li>
                        <a href="#">Végétarien</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{#    more services  #}
    <section class=" more mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Tout chaud !</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 business-img">
                    <img src="{{ asset('assets/images/accueil/maeliss-demaison-y2ye4rnE__M-unsplash.jpg') }}" alt="">
                </div>
                <div class="col-12 col-md-6 business-text-after">
                    <h3>For Business</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dignissimos doloremque excepturi
                        exercitationem ipsa velit. Blanditiis consectetur eos eveniet explicabo fuga in maiores minima,
                        nemo, possimus provident quasi quo saepe.
                    </p>
                    <a href="#" class="btn btn-blue">Se renseigner</a>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-md-6 business-text-before">
                    <h3>Avez-vous l'application ?</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dignissimos doloremque excepturi
                        exercitationem ipsa velit. Blanditiis consectetur eos eveniet explicabo fuga in maiores minima,
                        nemo, possimus provident quasi quo saepe.
                    </p>
                    <img src="{{ asset('assets/icones/app-store-badges-fr.svg') }}" alt="">
                </div>
                <div class="col-12 col-md-6 business-img">
                    <img src="{{ asset('assets/images/accueil/maeliss-demaison-y2ye4rnE__M-unsplash.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </section>
{#  work with   #}
    <section class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12 mb-3">
                <h1>Travailler avec nous !</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card card-orange" style="width: 100%;">
                    <img src="{{ asset('assets/images/accueil/maeliss-demaison-y2ye4rnE__M-unsplash.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Devenir Biker</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ path('biker_presentation') }}" class="btn btn-blue">Devenir Biker</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card card-yellow" style="width: 100%;">
                    <img src="{{ asset('assets/images/accueil/maeliss-demaison-y2ye4rnE__M-unsplash.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Devenir Partenaire</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-blue">Devenir Partenaire</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card card-grey" style="width: 100%;">
                    <img src="{{ asset('assets/images/accueil/maeliss-demaison-y2ye4rnE__M-unsplash.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">En savoir plus</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-blue">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{#{% block javascripts %}#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>#}
{#    <script src="{{ asset('js/filterizr-jquery.js') }}"></script>#}
{#    <script src="{{ asset('js/home.js') }}"></script>#}
{#    <script src="{{ asset('js/addToCart.js') }}"></script>#}
{#{% endblock %}#}
