{% extends 'site/partials/base.html.twig' %}

{% block title %}Restaurants sur {{ city.name }} - Deliveroo_like{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('site/css/restaurant.css') }}">
    {#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">#}
    {#    <link rel="stylesheet"#}
    {#          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">#}
{% endblock %}

{% block body %}
    <div class="container-fluid mt-5 mb-5">
        <div class="row">
            <div class="col-3">
                <p>ajouter filtres (catégories, tri (distance, mieux noté, recommandations, heure))</p>
            </div>
            <div class="col-9">
                {#                4 cartes par lignes#}
                <div class="row">
                    <div class="col-3">
                        <div class="card" style="width: 100%;">
                            <a href="#">
                                <div class="delivery">
                                    <p>
                                        Livraison <br>
                                        gratuite
                                    </p>
                                </div>
                                <img src="{{ asset('assets/images/restaurants/resto-1.jpg') }}" class="card-img-top" alt="...">
                                <div class="preco">
                                    <p>Précommande</p>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Nom du resto</h5>
                                    <p class="card-text">
                                        avis
                                    </p>
                                    <p class="card-text">
                                        distance - livraison
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-3">

                    </div>
                    <div class="col-3">

                    </div>
                    <div class="col-3">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>#}
    {#    <script src="{{ asset('js/filterizr-jquery.js') }}"></script>#}
    {#    <script src="{{ asset('js/home.js') }}"></script>#}
    {#    <script src="{{ asset('js/addToCart.js') }}"></script>#}
{#    <script src="{{ asset('site/js/searchCity.js') }}"></script>#}
{% endblock %}
