{% extends 'site/partials/base.html.twig' %}

{% block title %}Restaurant {{ restaurant.name }} - Deliveroo_like{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('site/css/restaurant.css') }}">
    {#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">#}
    {#    <link rel="stylesheet"#}
    {#          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">#}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-9">

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>#}
    {#    <script src="{{ asset('js/filterizr-jquery.js') }}"></script>#}
    {#    <script src="{{ asset('js/home.js') }}"></script>#}
    {#    <script src="{{ asset('js/addToCart.js') }}"></script>#}
    {#    <script src="{{ asset('site/js/searchCity.js') }}"></script>#}
{% endblock %}
