{% extends 'site/partials/base.html.twig' %}

{% block title %}Restaurants sur {{ city.name }} - Deliveroo_like{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('site/css/restaurant.css') }}">
    {#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">#}
    {#    <link rel="stylesheet"#}
    {#          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">#}
{% endblock %}

{% block body %}
    <div class="container-fluid mt-5 mb-5">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <p>ajouter filtres (catégories, tri (distance, mieux noté, recommandations, heure))</p>
                {{ form_start(form) }}

                {{ form_row(form.q) }}

                <h3>Catégories:</h3>
                {{ form_row(form.categories) }}

                <button type="submit" class="btn btn-blue w-100">Filtrer</button>
                {{ form_end(form) }}
            </div>
            <div class="col-sm-12 col-md-9">
                <div class="row">

                    {% for restaurant in restaurants %}
                        <div class="col-sm-12 col-lg-6 col-xl-3">
                            <div class="card" style="width: 100%;">
                                <a href="{{ path('restaurant_show', {city: city.name, restaurant: restaurant.name}) }}">
                                    <div class="delivery">
                                        <p>
                                            Livraison <br>
                                            gratuite
                                        </p>
                                    </div>
                                    <img src="{{ asset('assets/images/restaurants/resto-1.jpg') }}" class="card-img-top" alt="...">
                                    <div class="preco">
                                        <small>
                                            Pré-commande
                                        </small>
                                        <span>
                                            <strong>{{ restaurant.opensAt|date('H:s') }} - {{ restaurant.closesAt|date('H:s') }}</strong>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ restaurant.name }}</h5>
                                        <p class="card-text">
                                            avis
                                        </p>
                                        <p class="card-text">
                                            à 2 km - livraison
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>#}
    {#    <script src="{{ asset('js/filterizr-jquery.js') }}"></script>#}
    {#    <script src="{{ asset('js/home.js') }}"></script>#}
    {#    <script src="{{ asset('js/addToCart.js') }}"></script>#}
{#    <script src="{{ asset('site/js/searchCity.js') }}"></script>#}
{% endblock %}
