{% set current = app.request.attributes.get("_route") %}
<div class="overlay"></div>
<!-- Sidebar -->
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>Deliveroo-like Sidebar</h3>
    </div>

    <ul class="list-unstyled components">
{#        <li class="active">#}
{#            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>#}
{#            <ul class="collapse list-unstyled" id="homeSubmenu">#}
{#                <li>#}
{#                    <a href="#">Home 1</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Home 2</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Home 3</a>#}
{#                </li>#}
{#            </ul>#}
{#        </li>#}
        <li>
            <a class="btn btn-white" href="{{ path('registration') }}">
                <i class="fas fa-home"></i>
                Inscription/Connexion
            </a>
        </li>
        <li>
            <a class="btn btn-white" href="#">Contact</a>
        </li>
    </ul>
</nav>
<!-- navbar -->
<nav id="startChange" class="navbar navbar-expand-lg navbar-dark navbar-head">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">
            Deliveroo-like
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
{#                <li class="nav-item">#}
{#                    <a class="nav-link{% if current == 'home' %} active{% endif %}" href="{{ path('home') }}">Accueil</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link{% if current == 'contact' %} active{% endif %}" href="{{ path('contact') }}">Contact</a>#}
{#                </li>#}
                {% if app.user is null %}
                    {% if current == 'registration' or current == 'mail_registration' %}
                        <li class="nav-item">
                            <a class="btn btn-white" href="{{ path('login') }}">
                                <i class="fas fa-home"></i>
                                Connexion
                            </a>
                        </li>
                    {% elseif current == 'login' %}
                        <li class="nav-item">
                            <a class="btn btn-white" href="{{ path('registration') }}">
                                <i class="fas fa-home"></i>
                                Inscription
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="btn btn-white" href="{{ path('registration') }}">
                                <i class="fas fa-home"></i>
                                Inscription/Connexion
                            </a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-white" href="{{ path('profile') }}">
                            <i class="fas fa-home"></i>
                            Profil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-white" href="{{ path('logout') }}">
                            <i class="fas fa-home"></i>
                            Deconnexion
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a id="sidebarCollapse" class="btn btn-white" href="#">
                        <i class="fas fa-hamburger"></i>
                        Menu
                    </a>
                </li>
{#                {% if app.user is not null %}#}
{#                    <li class="nav-item dropdown">#}
{#                        <a href="#" class="nav-link{% if current == 'user_profil' or current == 'address' or current == 'order_history' or current == 'profil_password' %} active{% endif %} dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">#}
{#                            #}{#                                <img src="{% if app.user.avatarurl is null %}{{ asset('avatars/user-default-64px.png') }}#}
{#                            #}{#                        {% else %}{{ asset('avatars/' ~ app.user.avatarurl) }}{% endif %}" alt="Avatar de {{ app.user.username }}" class="avatar-mini rounded-circle">#}
{#                            {{ app.user.firstname }}#}
{#                        </a>#}
{#                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">#}
{#                            <a href="{{ path('user_profil') }}" class="dropdown-item">Modifier mon profil</a>#}
{#                            <a href="{{ path('profil_password') }}" class="dropdown-item">Modifier mon mot de passe</a>#}
{#                            <div class="dropdown-divider"></div>#}
{#                            <a href="{{ path('address') }}" class="dropdown-item">Mes adresses</a>#}
{#                            <a href="{{ path('order_history') }}" class="dropdown-item">Mes commandes</a>#}
{#                            <div class="dropdown-divider"></div>#}
{#                            <a href="{{ path('lost_cart') }}" class="dropdown-item">Se déconnecter</a>#}
{#                        </div>#}
{#                    </li>#}
{#                {% else %}#}
{#                    <li class="nav-item">#}
{#                        <a href="{{ path('user_inscription') }}" class="nav-link{% if current == 'user_inscription' %} active{% endif %}">S'inscrire</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a href="{{ path('user_connexion') }}" class="nav-link{% if current == 'user_connexion' %} active{% endif %}">Connexion</a>#}
{#                    </li>#}
{#                {% endif %}#}
            </ul>
        </div>
    </div>
</nav>

{% for label, messages in app.flashes %}
    <div class="container text-center pt-5">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}
