{% extends 'site/partials/base.html.twig' %}
{% block title %}Roulez avec nous ! - Deliveroo-like{% endblock %}

{% block stylesheets %}
{#    <link rel="stylesheet" href="{{ asset('site/css/biker/registration.css') }}">#}
    {{ encore_entry_link_tags('biker-registration') }}
    {{ encore_entry_link_tags('searchCity') }}
{#    <link rel="stylesheet" href="{{ asset('site/css/search-city.css') }}">#}
{% endblock %}

{% block body %}
    <div class="hero-one"></div>
    <div class="bg-grey">
        <div class="container container-form mt-5 mb-5">
            <div class="row">
                <div class="col-12 text-left">
                    <h6>Etape <strong>3</strong> /3</h6>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="register-form">
{#                    {{ form_start(form) }}#}
                    <form action="{{ path('biker_registration_step_three') }}" method="post" class="login-form">
                        <div class="row pt-5">
                            <div class="col-2">
                                <i class="fas fa-user-plus"></i>
                            </div>
                            <div class="col-10 form-group">
    {#                            {{ form_row(form.cityName) }}#}
                                <input type="text" id="get_city_cityName" name="get_city_cityName" class="form-control">
                                <input type="hidden" id="zip-code" name="zip-code">
    {#                            ul for predictive responses       #}
                                <div id="renderList">
    {#                                let empty after tests         #}
    {#                                <ul>#}
    {#                                    <li></li>#}
    {#                                    <li></li>#}
    {#                                    <li></li>#}
    {#                                </ul>#}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 display-btn-submit mb-4">
                                <button type="submit" class="btn btn-blue">Terminer l'inscription</button>
                            </div>
                        </div>
                    </form>
{#                    {{ form_end(form) }}#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('site/js/searchCity.js') }}"></script>
{% endblock %}
