{% extends 'site/partials/base.html.twig' %}

{% block title %}Devenir partenaire - Deliveroo_like{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('site/css/registration.css') }}">
{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-12 registration">
            <h3 class="text-center mb-5">Devenir partenaire</h3>
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}

{#{% block javascripts %}#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>#}
{#    <script src="{{ asset('js/filterizr-jquery.js') }}"></script>#}
{#    <script src="{{ asset('js/home.js') }}"></script>#}
{#    <script src="{{ asset('js/addToCart.js') }}"></script>#}
{#{% endblock %}#}
