{% extends 'site/partials/base.html.twig' %}

{% block title %}Devenir partenaire - Deliveroo_like{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <link rel="stylesheet" href="{{ asset('site/css/owner/registration-owner.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid mt-5 mb-5 background-form">
    <div class="row">
        <div class="col-sm-12 col-lg-6 registration">
            <h3 class="text-center mb-5">Devenir partenaire</h3>
            {{ form_start(form) }}

            {{ form_row(form.profile) }}
            {{ form_row(form.restaurant) }}
            {{ form_row(form.name) }}
            {{ form_row(form.city) }}
            {{ form_row(form.line1) }}
            {{ form_row(form.line2) }}

            <div class="text-center">
                <button type="submit" class="btn btn-blue">Envoyer</button>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-sm-12 col-lg-6 slider-frame">
            <div class="blocks owl-carousel owl-present">
                <div class="block">
                    <img src="{{ asset('assets/images/owner/registration/slider/slide-1.jpg') }}" alt="" class="img-carousel">
                </div>
                <div class="block">
                    <img src="{{ asset('assets/images/owner/registration/slider/slide-2.jpg') }}" alt="" class="img-carousel">
                </div>
                <div class="block">
                    <img src="{{ asset('assets/images/owner/registration/slider/slide-3.jpg') }}" alt="" class="img-carousel">
                </div>
            </div>
        </div>
    </div>
</div>

<section class="container mb-5 cards">
    <h1 class="text-center mt-5 mb-5">Pourquoi devenir partenaire ?</h1>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card text-center">
                <h5>Culpa maiores quasi veritatis!</h5>
                <img src="{{ asset('assets/images/owner/registration/icons/bar-chart.svg') }}" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto atque consequatur modi
                    nostrum perspiciatis praesentium quam quos tenetur. Amet at culpa doloribus explicabo illum maxime
                    reiciendis similique tenetur vitae.
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card text-center">
                <h5>Culpa maiores quasi veritatis!</h5>
                <img src="{{ asset('assets/images/owner/registration/icons/bar-chart.svg') }}" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto atque consequatur modi
                    nostrum perspiciatis praesentium quam quos tenetur. Amet at culpa doloribus explicabo illum maxime
                    reiciendis similique tenetur vitae.
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card text-center">
                <h5>Culpa maiores quasi veritatis!</h5>
                <img src="{{ asset('assets/images/owner/registration/icons/bar-chart.svg') }}" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto atque consequatur modi
                    nostrum perspiciatis praesentium quam quos tenetur. Amet at culpa doloribus explicabo illum maxime
                    reiciendis similique tenetur vitae.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="stats container">
    <div class="row">
        <div class="col-sm-12 col-md-3 text-center">
            <div class="round">
                <img src="{{ asset('assets/images/owner/registration/icons/shop.png') }}" alt="">
            </div>
            <h3>45 000 000</h3>
            <p>
                A cumque deleniti distinctio enim inventore itaque.
            </p>
        </div>
        <div class="col-sm-12 col-md-3 text-center">
            <div class="round">
                <img src="{{ asset('assets/images/owner/registration/icons/shop.png') }}" alt="">
            </div>
            <h3>45 000 000</h3>
            <p>
                A cumque deleniti distinctio enim inventore itaque.
            </p>
        </div>
        <div class="col-sm-12 col-md-3 text-center">
            <div class="round">
                <img src="{{ asset('assets/images/owner/registration/icons/shop.png') }}" alt="">
            </div>
            <h3>45 000 000</h3>
            <p>
                A cumque deleniti distinctio enim inventore itaque.
            </p>
        </div>
        <div class="col-sm-12 col-md-3 text-center">
            <div class="round">
                <img src="{{ asset('assets/images/owner/registration/icons/shop.png') }}" alt="">
            </div>
            <h3>45 000 000</h3>
            <p>
                A cumque deleniti distinctio enim inventore itaque.
            </p>
        </div>
    </div>
    <hr>
</section>

<section class="slider-partnership container mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <div class="blocks owl-carousel owl-partnership">
                <div class="block testimonial-slide">
                    <div class="block-txt">
                        <div class="txt">
                            <img src="{{ asset('assets/images/owner/registration/partnership-slider/icons/cookie.png') }}" class="icon" alt="">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate expedita saepe!
                                Ad alias beatae culpa debitis distinctio, dolores exercitationem fuga obcaecati pariatur possimus,
                                rem sequi ullam vel veritatis voluptas?
                            </p>
                        </div>
                    </div>
                    <img src="{{ asset('assets/images/owner/registration/partnership-slider/slide-1.jpg') }}" alt="">
                </div>
                <div class="block testimonial-slide">
                    <div class="block-txt">
                        <div class="txt">
                            <img src="{{ asset('assets/images/owner/registration/partnership-slider/icons/fried-egg.png') }}" class="icon" alt="">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate expedita saepe!
                                Ad alias beatae culpa debitis distinctio, dolores exercitationem fuga obcaecati pariatur possimus,
                                rem sequi ullam vel veritatis voluptas?
                            </p>
                        </div>
                    </div>
                    <img src="{{ asset('assets/images/owner/registration/partnership-slider/slide-2.jpg') }}" alt="">
                </div>
                <div class="block testimonial-slide">
                    <div class="block-txt">
                        <div class="txt">
                            <img src="{{ asset('assets/images/owner/registration/partnership-slider/icons/pot.png') }}" class="icon" alt="">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate expedita saepe!
                                Ad alias beatae culpa debitis distinctio, dolores exercitationem fuga obcaecati pariatur possimus,
                                rem sequi ullam vel veritatis voluptas?
                            </p>
                        </div>
                    </div>
                    <img src="{{ asset('assets/images/owner/registration/partnership-slider/slide-3.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </div>
    <hr>
</section>

<section class="list container mt-5 mb-5">
    <h1>Wonderful products and prices</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet, blanditiis doloribus eos est
        facere impedit labore libero magni nemo, officia perferendis! Corporis laboriosam nesciunt numquam
        possimus, quisquam tempora ullam?
    </p>
    <ul class="list-group checks">
        <li>At commodi delectus inventore laborum minima nulla sint suscipit tempore?</li>
        <li>At commodi delectus inventore laborum minima nulla sint suscipit tempore?</li>
        <li>At commodi delectus inventore laborum minima nulla sint suscipit tempore?</li>
        <li>At commodi delectus inventore laborum minima nulla sint suscipit tempore?</li>
        <li>At commodi delectus inventore laborum minima nulla sint suscipit tempore?</li>
    </ul>
</section>

<section class="container how-it-work mt-5 mb-5">
    <h1>How it works ?</h1>
    <p>Iure laudantium nulla numquam odio perferendis rem soluta, ullam ut vero vitae, voluptate voluptatibus voluptatum.</p>
    <div class="row work-card">
        <div class="col-sm-12 col-md-4 pt-3 pb-3">
            <h3 class="text-center">Subscribe</h3>
            <img src="{{ asset('assets/images/owner/registration/icons/follow.svg') }}" alt="">
            <p class="text-center">
                Est laborum nesciunt soluta temporibus! Corporis illum magni natus quis recusandae, temporibus.
            </p>
        </div>
        <div class="col-sm-12 col-md-4 pt-3 pb-3">
            <h3 class="text-center">Subscribe</h3>
            <img src="{{ asset('assets/images/owner/registration/icons/follow.svg') }}" alt="">
            <p class="text-center">
                Est laborum nesciunt soluta temporibus! Corporis illum magni natus quis recusandae, temporibus.
            </p>
        </div>
        <div class="col-sm-12 col-md-4 pt-3 pb-3">
            <h3 class="text-center">Subscribe</h3>
            <img src="{{ asset('assets/images/owner/registration/icons/follow.svg') }}" alt="">
            <p class="text-center">
                Est laborum nesciunt soluta temporibus! Corporis illum magni natus quis recusandae, temporibus.
            </p>
        </div>
    </div>
</section>

<section class="container leads mt-5 mb-5">
    <h1>Leads to develop activity</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor hic laboriosam nisi!
    </p>
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 mb-5">
            <div class="card card-lead" style="width: 100%;">
                <img src="{{ asset('assets/images/owner/registration/images/card-1.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Emballages</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-blue">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-5">
            <div class="card card-lead" style="width: 100%;">
                <img src="{{ asset('assets/images/owner/registration/images/card-2.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Marketer</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-blue">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-5">
            <div class="card card-lead" style="width: 100%;">
                <img src="{{ asset('assets/images/owner/registration/images/card-3.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Integration tpv</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-blue">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-5">
            <div class="card card-lead" style="width: 100%;">
                <img src="{{ asset('assets/images/owner/registration/images/card-1.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fournisseurs</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-blue">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-5">
            <div class="card card-lead" style="width: 100%;">
                <img src="{{ asset('assets/images/owner/registration/images/card-2.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Assistance</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-blue">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="{{ asset('site/js/owner/registration-owner.js') }}"></script>
{% endblock %}
