{% extends 'site/partials/base.html.twig' %}
{% block title %}Votre dashboard - Deliveroo-like{% endblock %}

{#{% block stylesheets %}#}
{#    <link rel="stylesheet" href="{{ asset('site/css/biker/registration.css') }}">#}
{#    <link rel="stylesheet" href="{{ asset('site/css/search-city.css') }}">#}
{#{% endblock %}#}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h1>Votre tableau de bord</h1>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col">
                <div class="card bg-color mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="card-title">Les courses </h1>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <a href="#" class="btn btn-color">Accéder aux dernières courses autour de chez vous.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-color mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                {#                                {{ dump(nbCommands) }}#}
                                <h1 class="card-title">le temps autour de chez vous</h1>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
{#                                {{ dump(weather) }}#}
{#                                {{ dump(weather['weather']) }}#}
{#                                {{ dump(weather["icon"]) }}#}
{#                                {{ weather.icon }}#}
                                <img src="http://openweathermap.org/img/wn/{{ weather.weather[0].icon }}@2x.png" alt="">
                                <h4>{{ weather.name }}</h4>
                                <p>
                                    Température: {{ weather.main.temp }}° <br>
                                    Température ressentie: {{ weather.main.feels_like }}°
                                </p>
                                <p>{{ weather.weather[0].description }}</p>
                                <a href="{{ path('biker_weather') }}" class="btn btn-blue">Voir les prévisions sur la semaine</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-color mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="card-title">Vos encaissements</h1>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <a href="#" class="btn btn-color">Accéder aux factures</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-color mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="card-title">avis de vos clients</h1>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <a href="#" class="btn btn-color">Accéder aux avis de vos clients</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{#            <div class="col display-stretch">#}
{#                <div class="card text-white bg-color mb-3 text-center">#}
{#                    <div class="card-body">#}
{#                        <div class="row">#}
{#                            <div class="col-12">#}
{#                                <h1 class="card-title"> catégories</h1>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="row mt-3">#}
{#                            <div class="col">#}
{#                                <a href="#" class="btn btn-color">Créer une nouvelle catégorie</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col display-stretch">#}
{#                <div class="card text-white bg-color mb-3 text-center">#}
{#                    <div class="card-body">#}
{#                        <div class="row">#}
{#                            <div class="col-12">#}
{#                                <h1 class="card-title"> tags</h1>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="row mt-3">#}
{#                            <div class="col">#}
{#                                <a href="#" class="btn btn-color">Créer un nouveau tag</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('biker/js/dashboard.js') }}"></script>
{% endblock %}
