{% extends 'site/partials/base.html.twig' %}

{% block title %}Connexion - Deliveroo_like{% endblock %}

{% block stylesheets %}
{#    <link rel="stylesheet" href="{{ asset('site/css/registration.css') }}">#}
    {{ encore_entry_link_tags('user-registration') }}
{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12 registration">
                <h3 class="text-center mb-5">Inscription</h3>
                {{ form_start(form) }}
                <div class="row mb-5">
                    <div class="col-3">
                        {{ form_label(form.firstName) }}
                    </div>
                    <div class="col-9">
                        {{ form_widget(form.firstName) }}
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-3">
                        {{ form_label(form.lastName) }}
                    </div>
                    <div class="col-9">
                        {{ form_widget(form.lastName) }}
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-3">
                        {{ form_label(form.email) }}:
                    </div>
                    <div class="col-9">
                        {{ form_widget(form.email) }}
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-3">
                        {{ form_label(form.password) }}
                    </div>
                    <div class="col-9">
                        {{ form_widget(form.password) }}
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-white btn-lg">S'inscrire</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{#{% block javascripts %}#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>#}
{#    <script src="{{ asset('js/filterizr-jquery.js') }}"></script>#}
{#    <script src="{{ asset('js/home.js') }}"></script>#}
{#    <script src="{{ asset('js/addToCart.js') }}"></script>#}
{#{% endblock %}#}
