{% extends 'site/partials/base.html.twig' %}

{% block title %}Connexion - Deliveroo_like{% endblock %}

{% block stylesheets %}
{#    <link rel="stylesheet" href="{{ asset('site/css/registration.css') }}">#}
    {{ encore_entry_link_tags('user-registration') }}
{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12 registration">
                <h3 class="text-center mb-5">Inscription ou connexion</h3>
                <a class="btn btn-blue" href="#">continuer avec Facebook</a>
                <a class="btn btn-white" href="#">continuer avec Google</a>
                <div class="limiter">
                    <span class="or">ou</span>
                </div>
                <a class="btn btn-blue" href="{{ path('mail_registration') }}">continuer avec une adresse mail</a>
                <p>
                    En continuant, vous acceptez nos <a href="#">Conditions Générales</a> et notre
                    <a href="#">Politique de Confidentialité</a>.
                    Nous utilisons vos données personnelles pour vous offrir une expérience personnalisée,
                    ainsi que pour mieux comprendre et améliorer notre service.
                    Pour plus de détails <a href="#">cliquez ici</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{#{% block javascripts %}#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>#}
{#    <script src="{{ asset('js/filterizr-jquery.js') }}"></script>#}
{#    <script src="{{ asset('js/home.js') }}"></script>#}
{#    <script src="{{ asset('js/addToCart.js') }}"></script>#}
{#{% endblock %}#}
